<div class="isolate bg-white">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon>favorite</mat-icon>
      <mat-icon>delete</mat-icon>
      <div class="gap-x-3 ">
        <button mat-raised-button color="warn" class="m-10" routerLink="">Главная</button>
        <button mat-raised-button color="warn" class="m-10" routerLink="products">Товары</button>
        <button mat-raised-button color="warn" class="m-10" routerLink="cart">Корзина</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
